// Colores primarios
$primary-color: #103052;
$secondary-color: #8ba4b9;
$danger-color: #dc3545;
$success-color: #28a745;
$warning-color: #fd7e14;

// Neutros
$white: #ffffff;
$black: #000000;
$gray-light: #f2f2f2;
$gray-dark: #d5d5d5;

//Activo e Inactivo
$active-color: green;
$inactive-color: red;

// Texto
$text-color: #212529;
$text-color-secondary: #0fa4df;